html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

ul {
  gap: 50px; /* Espacio uniforme entre elementos */
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 26px;
}

.site-header .container {
    width: 500px;
    height: 20px;
    
}

.site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #1f1a2d;
    border-bottom: 1px solid rgb(89, 89, 89);
}

.logo {
    width: 400px;
    height: 100px;
    object-fit: cover;
}

.main-nav ul{
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#fondo {
background-image: linear-gradient(rgba(8, 5, 26, 0.241), rgba(58, 16, 69, 0.5)), url("https://styles.redditmedia.com/t5_3awig/styles/backgroundImage_n4zzhoeyybz31.png"); 
background-size: cover;
background-position: center;
color: rgb(255, 255, 255);
padding: 200px 0;
text-align: center;
}

#fondo h1 {

text-align:  center;
font-size: 60px;

}

  .contenedor1 {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;           /* Altura total de la pantalla */
  }

.rectangulo1 {
    width: 1100px; /* Ancho del rectángulo */
    height: 500px; /* Alto del rectángulo */
    background-color: #09030f; /* Color de fondo */
    border: 2px solid rgb(89, 89, 89); /* Borde opcional */
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    padding: 20px;
}

.titulo {

    color: #ff1b64;
    text-align: center;
}

#fondo2 {
background-image: linear-gradient(#222337d3), url("Background.jpg"); 
background-size: cover;
background-position: center;
color: rgb(255, 255, 255);
padding: 200px 0;
text-align: center;
}

  .contenedor {
    justify-content: center; 
    align-items: center; 
    display: flex;
    gap: 200px;
    padding: 60px;
  }

  .rectangulo2 {
    width: 600px;
    height: 600px;
    background-color: #09030f;
    border-radius: 5px;
    padding: 10px;
  }
  .nombre {

    color: #ff1b64;
    text-align: center;
    font-size: 26px;
}

#fondo3 {
background-image: linear-gradient(#222337d3), url("Callejon.webp"); 
background-size: cover;
background-position: center;
color: rgb(255, 255, 255);
padding: 20px 0;
text-align: center;
}


 .contenedor2 {
    display: flex;
    align-items: center;
    gap: 200px;
    padding: 60px;
  }

.logoTienda {
    width: 300px;
    height: 200px;

}